<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Concrete receipt</title>
</head>
<body style="background: bisque">
<div th:replace="allheaders::recipe_header"></div>
<div>
    <div style="width: 50%;  margin: 0 auto">
        <p th:text="${recipe.getTitle()}" style="font-size: 26px; color: green"></p>
        <span style="font-size: 20px" >Products</span>
        <br> <br>
        <div th:each="entry:${recipe.getUsedProducts()}">
            <a th:href="@{/inventory/product/{id} (id = ${entry.getKey().getProductId()})}"
            th:text="${entry.getKey().getProductName()}"></a>
            <span th:text="' - ' + ${entry.getValue()}"></span>
        </div>
        <br>
        <span style="font-size: 20px">Actions</span>
        <p th:text="${recipe.getActions()}"></p>
        <br>
        <form th:action="@{/recipe/delete/{id} (id = ${recipe.getRecipeId()})}"
         th:method="DELETE">
            <input type="submit" value="Delete receipt">
        </form>
        <form th:action="@{/recipe/edit/{id} (id = ${recipe.getRecipeId()})}"
              th:method="GET">
            <input type="submit" value="Edit receipt">
        </form>
    </div>
</div>

</body>
</html>