<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Concrete receipt</title>
</head>
<body style="background: bisque">
<div th:replace="allheaders::recipe_header"></div>
<div>
    <div style="width: 50%;  margin: 0 auto">
        <p th:text="${recipe.getTitle()}"></p>
        <br>
        <span>Products</span>
        <br>
        <div th:each="product:${recipe.getUsedProducts()}"
           th:text="${product.getKey().getProductName() + ' ' + product.getValue()}">
            <a th:href="@{/inventory/product/{id} (id = ${product.getKey().getProductId()})}"
            th:text="'Product description ' + ${product.getKey().getProductName()}"></a>
        </div>
        <br>
        <span>Actions</span>
        <p th:text="${recipe.getActions()}"></p>
        <form th:action="@{/recipe/delete/{id} (id = ${recipe.getRecipeId()})}"
         th:method="DELETE">
            <input type="submit" value="Delete receipt">
        </form>
        <br>
        <form th:action="@{/recipe/edit/{id} (id = ${recipe.getRecipeId()})}"
              th:method="GET">
            <input type="submit" value="Edit receipt">
        </form>
    </div>
</div>

</body>
</html>