<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Stock</title>
</head>
<body style="background: bisque">
<div th:replace="allheaders::recipe_header"></div>
<div>
    <div style="width: 50%;  margin: 0 auto">
        <p style="font-size: 26px">Product stock</p>
        <span th:text="'Product name: ' + ${product.getProductName()}"></span>
        <br>
        <span th:text="'Quantity: ' + ${quantity}" ></span>
        <br>
        <form th:method="POST" th:action="@{/inventory/change}" th:object="${stockUpdate}">
            <label for="change">Change quantity</label>
            <input type="text" th:field = "*{change}" id="change">
            <input type="submit" value="Change quantity">
            <div th:if="${#fields.hasErrors('change')}" style="color: red" th:errors = "*{change}" ></div>
        </form>
        <br>
        <p style="color: blue">If you wan to add quantity - insert positive number, remove - negative number.</p>
        <p style="color: blue">Number should be in interval from -1 000 000 000 to 1 000 000 000</p>
    </div>
</div>

</body>
</html>